@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GrupoCorsal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GrupoCorsal.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                        <a href="/"
                            class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                            <span class="fs-5 d-none d-sm-inline">Menu</span>
                        </a>
                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                            id="menu">
                            <li class="nav-item">
                                <a class="nav-link align-middle px-0" asp-area="" asp-controller="Home" asp-action="Index">
                                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link align-middle px-0" asp-area="" asp-controller="Cotizacion"
                                    asp-action="Index">
                                    <i class="bi bi-currency-dollar"></i> <span
                                        class="ms-1 d-none d-sm-inline">Cotizaciones</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link align-middle px-0" asp-area="" asp-controller="Marca" asp-action="Index">
                                    <i class="bi bi-r-circle"></i> <span class="ms-1 d-none d-sm-inline">Marcas</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link align-middle px-0" asp-area="" asp-controller="MarcaProducto"
                                    asp-action="Index">
                                    <i class="fs-4 bi-house"></i> <span
                                        class="ms-1 d-none d-sm-inline">Marca/Producto</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link align-middle px-0" asp-area="" asp-controller="Mensualidad"
                                    asp-action="Index">
                                    <i class="bi bi-wallet2"></i> <span class="ms-1 d-none d-sm-inline">Mensualidades</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link align-middle px-0" asp-area="" asp-controller="Persona"
                                    asp-action="Index">
                                    <i class="bi bi-people"></i> <span class="ms-1 d-none d-sm-inline">Personas</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link align-middle px-0" asp-area="" asp-controller="PersonaDetalle"
                                    asp-action="Index">
                                    <i class="bi bi-person-plus"></i> <span
                                        class="ms-1 d-none d-sm-inline">Persona/Detalle</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link align-middle px-0" asp-area="" asp-controller="Producto"
                                    asp-action="Index">
                                    <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Productos</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link align-middle px-0" asp-area="" asp-controller="Sexo" asp-action="Index">
                                    <i class="bi bi-gender-ambiguous"></i> <span
                                        class="ms-1 d-none d-sm-inline">Sexos</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link align-middle px-0" asp-area="" asp-controller="Sucursal"
                                    asp-action="Index">
                                    <i class="bi bi-building"></i> <span class="ms-1 d-none d-sm-inline">Sucursales</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link align-middle px-0" asp-area="" asp-controller="TipoPersona"
                                    asp-action="Index">
                                    <i class="bi bi-person-square"></i> <span class="ms-1 d-none d-sm-inline">Tipos de
                                        Persona</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link align-middle px-0" asp-area="" asp-controller="TipoUsuario"
                                    asp-action="Index">
                                    <i class="bi bi-person-circle"></i> <span class="ms-1 d-none d-sm-inline">Tipos de
                                        Usuario</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link align-middle px-0" asp-area="" asp-controller="Version"
                                    asp-action="Index">
                                    <i class="bi bi-code-slash"></i> <span class="ms-1 d-none d-sm-inline">Versiones</span>
                                </a>
                            </li>
                        </ul>
                        <hr>
                        <partial name="_LoginPartial" />

                    </div>
                </div>
            }
            <div class="col py-3">
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="dropdown pb-4">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30"
                class="rounded-circle">
            <span class="d-none d-sm-inline mx-1">loser</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>-->
    <!--<footer class="border-top footer fixed-bottom text-muted">
        <div class="container">
            &copy; 2023 - GrupoCorsal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
