@{
    ViewData["Title"] = "Home Page";
}

<style>
    .text-center{
        margin-top: 250px;

    


    }



</style>


<br>
<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <img src="../../../img/logo.png" width="80%">
</div>
