html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/*body {
  margin-bottom: 60px;
}*/

.bg-gc {
  background-color: #0378A6;
}

.login-container {
  background-color: white;
  width: 443px;
  height: 650px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 30px;
}

.login-container h2 {
  text-align: center;
}

.login-container button {
  margin-top: 10px;
}

.login-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#login-submit {
  background-color: #0378A6;
  border: none;
  color: white;
  width: 317px;
  height: 56px;
  border-radius: 59px;
}

#login-submit:hover {
  background-color: #0072a3;
}

.Password-Forgot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.Password-Forgot a {
  color: #0378A6;
  text-decoration: none;
}

.btn-gc {
  background-color: #0378A6;
  border: none;
  color: white;
  border-radius: 59px;
}

.btn-gc:hover{
  background-color: #0072a3;
}

.form-control {
  border: 3px solid #0378A6;
  border-radius: 30px;
  color: #0378A6;
  height: 49px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-position {}

.form-floating>.form-control:focus,
.form-floating>.form-control:not(:placeholder-shown) {
  padding-top: 0;
  padding-bottom: 0;
  color: #0072a3;
}