@model GrupoCorsal.Models.Cotizacion

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cotizacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="folio" class="control-label"></label>
                <input asp-for="folio" class="form-control" />
                <span asp-validation-for="folio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_cotizacion" class="control-label"></label>
                <input asp-for="fecha_cotizacion" class="form-control" />
                <span asp-validation-for="fecha_cotizacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="produto_id" class="control-label"></label>
                <input asp-for="produto_id" class="form-control" />
                <span asp-validation-for="produto_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="monto" class="control-label"></label>
                <input asp-for="monto" class="form-control" />
                <span asp-validation-for="monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="anio" class="control-label"></label>
                <input asp-for="anio" class="form-control" />
                <span asp-validation-for="anio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="persona_id" class="control-label"></label>
                <input asp-for="persona_id" class="form-control" />
                <span asp-validation-for="persona_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usuario_id" class="control-label"></label>
                <input asp-for="usuario_id" class="form-control" />
                <span asp-validation-for="usuario_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apertura_id" class="control-label"></label>
                <input asp-for="apertura_id" class="form-control" />
                <span asp-validation-for="apertura_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comision_asesor" class="control-label"></label>
                <input asp-for="comision_asesor" class="form-control" />
                <span asp-validation-for="comision_asesor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fecha_contratacion" class="control-label"></label>
                <input asp-for="fecha_contratacion" class="form-control" />
                <span asp-validation-for="fecha_contratacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
